<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
 	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
</head>
<body>
		
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand title" href="/">RedBond</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <!--  th:href="@{/order/details(id=3)}" -->
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/home">Home</a></li>
 		<li><a href="/admin/home">Search Blood</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
	
	<div class="container">
	<img th:src="@{/images/login-page.png}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/editprofile}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" required placeholder="email@example.com"
								class="form-control" />
								 <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message">
								</label>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
								class="validation-message"></label>
							<input type="text" th:field="*{phone}"
								placeholder="+00 000 000 000" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}" 
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						<select required class="form-control" th:field="*{bloodgroup}">
					            <option value="">--select your blood group--</option>
							    <option value="O negative">O negative</option>
							    <option value="O positive">O positive</option>
							    <option value="A negative">A negative</option>
							    <option value="A positive">A positive</option>
							    
							    <option value="B negative">B negative</option>
							    <option value="B positive">B positive</option>
							    <option value="AB negative">AB negative</option>
							    <option value="AB positive">AB positive</option>
							   </select>
							 <label th:if="${#fields.hasErrors('bloodgroup')}" th:errors="*{bloodgroup}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
								class="validation-message"></label>
							<input type="text" th:field="*{country}"
								placeholder="your country" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
								class="validation-message"></label>
							<input type="text" id="city"  th:field="*{city}"
									required placeholder="your city" class="form-control form-control-city" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"
								class="validation-message"></label>
							<input type="text" id="lat" th:field="*{latitude}"
								readonly placeholder="latitude" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"
								class="validation-message"></label>
							<input type="text" id="lon" th:field="*{longitude}"
							readonly placeholder="longitude" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Join Now</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>
<footer class="container-fluid">
		<p> &copy; RedBond 2017 || All Rights Reserved</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>