
<!-- <div>
	<span th:utext="${users}"></span>
</div> -->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Users</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
</head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  </head>
  
  <body>
<div>
	<span th:utext="${userInfo}" ></span>
	<table>
	<tr>
	<td><input type="text" th:value="${userInfo.name}"></td>
	<td><input type="text" th:value="${userInfo.email}"></td>
	<td><input type="text" th:value="${userInfo.phone}"></td>
	<td><input type="text" th:value="${userInfo.bloodgroup}"></td>
	</tr>
	</table>
</div>

  </body>
</html>