<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Registration Form</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Name"
								class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" required placeholder="email@example.com"
								class="form-control" />
								 <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message">
								</label>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
								class="validation-message"></label>
							<input type="text" th:field="*{phone}"
								placeholder="+00 000 000 000" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}" 
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						<select required class="form-control" th:field="*{bloodgroup}">
					            <option value="">--select your blood group--</option>
							    <option value="O negative">O negative</option>
							    <option value="O positive">O positive</option>
							    <option value="A negative">A negative</option>
							    <option value="A positive">A positive</option>
							    
							    <option value="B negative">B negative</option>
							    <option value="B positive">B positive</option>
							    <option value="AB negative">AB negative</option>
							    <option value="AB positive">AB positive</option>
							   </select>
							 <label th:if="${#fields.hasErrors('bloodgroup')}" th:errors="*{bloodgroup}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
								class="validation-message"></label>
							<input type="text" th:field="*{country}"
								placeholder="your country" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
								class="validation-message"></label>
							<input type="text" th:field="*{city}"
								placeholder="your city" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"
								class="validation-message"></label>
							<input type="text" th:field="*{latitude}"
								placeholder="latitude" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"
								class="validation-message"></label>
							<input type="text" th:field="*{longitude}"
								placeholder="longitude" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>